<a href="https://colab.research.google.com/github/rayssarrs/imersao-de-dados-com-python/blob/main/data_immersion_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd #importar a biblioteca panda como pd (apelido)

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv") #df = nome dataframe, ler arqivo csv

In [ ]:
df.head() #visualizar as 5 primeiras linhas do arquivo

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [ ]:
df.info() # informações do arquivo facilitada

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [ ]:
df.describe() #estatisticas

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [ ]:
df.shape #tamanho (vetor)

(133349, 11)

In [ ]:
linhas, colunas = df.shape [0], df.shape[1] #declaração de variaveis, iniciação do vetor
print("linhas", linhas)
print("colunas", colunas)

linhas 133349
colunas 11

In [ ]:
df.columns #nome das colunas

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [ ]:
renomear_colunas = {
    'work_year': 'ano_trabalho',
    'experience_level': 'nivel_experiencia',
    'employment_type': 'tipo_emprego',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda_salario',
    'salary_in_usd': 'salario_em_usd',
    'employee_residence': 'residencia_empregado',
    'remote_ratio': 'taxa_remoto',
    'company_location': 'localizacao_empresa',
    'company_size': 'tamanho_empresa'
} #dicionario de tradução dos nomes das colunas
df.rename(columns=renomear_colunas, inplace=True) #renomear colunas
print(df.columns)

Index(['ano_trabalho', 'nivel_experiencia', 'tipo_emprego', 'cargo', 'salario',
       'moeda_salario', 'salario_em_usd', 'residencia_empregado',
       'taxa_remoto', 'localizacao_empresa', 'tamanho_empresa'],
      dtype='object')

In [ ]:
df["nivel_experiencia"].value_counts() #valores das colunas

nivel_experiencia
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [ ]:
df["tipo_emprego"].value_counts()

tipo_emprego
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [ ]:
df["taxa_remoto"].value_counts()

taxa_remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [ ]:
df["tamanho_empresa"].value_counts()

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [ ]:
nivel_experiencia_traducao = {
    'SE': 'Nível Sênior',
    'MI': 'Nível Pleno',
    'EN': 'Nível Júnior',
    'EX': 'Nível Executivo'
} #dicionario de tradução das categorias da coluna de nivel de experiencia

df['nivel_experiencia'] = df['nivel_experiencia'].replace(nivel_experiencia_traducao) #renomear categorias
print(df['nivel_experiencia'].value_counts())

nivel_experiencia
Nível Sênior       77241
Nível Pleno        40465
Nível Júnior       12443
Nível Executivo     3200
Name: count, dtype: int64

In [ ]:
tipo_emprego_traducao = {
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Meio Período',
    'FL': 'Freelancer'
}#dicionario de tradução das categorias da coluna de tipo de emprego

df['tipo_emprego'] = df['tipo_emprego'].replace(tipo_emprego_traducao)
print(df['tipo_emprego'].value_counts())

tipo_emprego
Tempo Integral    132563
Contrato             394
Meio Período         376
Freelancer            16
Name: count, dtype: int64

In [ ]:
tamanho_empresa_traducao = {
    "S": "pequena",
    "M": "Média",
    "L": "Grande"
} #dicionario de tradução das categorias da coluna tamanho empresa
df["tamanho_empresa"] = df["tamanho_empresa"].replace(tamanho_empresa_traducao)
print(df["tamanho_empresa"].value_counts())

tamanho_empresa
Média      129561
Grande       3574
pequena       214
Name: count, dtype: int64

In [ ]:
taxa_remoto_traducao = {
    0: 'Presencial',
    50: 'Hibrido',
    100: 'Remoto'
} #dicionario de tradução das categorias da coluna de taxa de trabalho remoto
df['taxa_remoto'] = df['taxa_remoto'].replace(taxa_remoto_traducao)
print(df['taxa_remoto'].value_counts())

taxa_remoto
Presencial    105312
Remoto         27718
Hibrido          319
Name: count, dtype: int64

In [ ]:
df.head(10) #mostra as 10 primeiras linhas do documento

,ano_trabalho,nivel_experiencia,tipo_emprego,cargo,salario,moeda_salario,salario_em_usd,residencia_empregado,taxa_remoto,localizacao_empresa,tamanho_empresa
0,2025.0,Nível Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média
1,2025.0,Nível Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média
2,2025.0,Nível Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025.0,Nível Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025.0,Nível Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média
5,2025.0,Nível Júnior,Tempo Integral,Data Engineer,80000,USD,80000,US,Presencial,US,Média
6,2025.0,Nível Sênior,Tempo Integral,Data Scientist,185000,USD,185000,US,Presencial,US,Média
7,2025.0,Nível Sênior,Tempo Integral,Data Scientist,148000,USD,148000,US,Presencial,US,Média
8,2025.0,Nível Pleno,Tempo Integral,Data Scientist,135000,USD,135000,CA,Presencial,CA,Média
9,2025.0,Nível Pleno,Tempo Integral,Data Scientist,108000,USD,108000,CA,Presencial,CA,Média

In [ ]:
df.describe(include="object") #Mostra estatísticas (count, unique, top, freq) apenas para colunas de texto/categóricas

,nivel_experiencia,tipo_emprego,cargo,moeda_salario,residencia_empregado,taxa_remoto,localizacao_empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,Nível Sênior,Tempo Integral,Data Scientist,USD,US,Presencial,US,Média
freq,77241,132563,17314,126140,119579,105312,119641,129561

In [ ]:
df.isnull() #mostra campos nulos

,ano_trabalho,nivel_experiencia,tipo_emprego,cargo,salario,moeda_salario,salario_em_usd,residencia_empregado,taxa_remoto,localizacao_empresa,tamanho_empresa
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
133344,False,False,False,False,False,False,False,False,False,False,False
133345,False,False,False,False,False,False,False,False,False,False,False
133346,False,False,False,False,False,False,False,False,False,False,False
133347,False,False,False,False,False,False,False,False,False,False,False
133348,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum() #soma todos os campos nulos

ano_trabalho            10
nivel_experiencia        0
tipo_emprego             0
cargo                    0
salario                  0
moeda_salario            0
salario_em_usd           0
residencia_empregado     0
taxa_remoto              0
localizacao_empresa      0
tamanho_empresa          0
dtype: int64

In [ ]:
df["ano_trabalho"].unique() #valores presente na coluna "Ano de trabalho", "nan" - Not a Number

array([2025.,   nan, 2024., 2022., 2023., 2020., 2021.])

In [ ]:
df[df.isnull().any(axis=1)] #Mostra todas as colunas com campos nulos, any - true = retorna nulo, false = não nulo. axis = 1 - verificar por linha (horizontal)

,ano_trabalho,nivel_experiencia,tipo_emprego,cargo,salario,moeda_salario,salario_em_usd,residencia_empregado,taxa_remoto,localizacao_empresa,tamanho_empresa
5588,NaN,Nível Sênior,Tempo Integral,Product Manager,184500,USD,184500,US,Presencial,US,Média
59692,NaN,Nível Pleno,Tempo Integral,Engineer,110000,USD,110000,DE,Presencial,DE,Média
59710,NaN,Nível Júnior,Tempo Integral,Data Scientist,208800,USD,208800,US,Presencial,US,Média
59759,NaN,Nível Sênior,Tempo Integral,Software Engineer,135000,USD,135000,US,Presencial,US,Média
59789,NaN,Nível Sênior,Tempo Integral,Engineer,112000,USD,112000,US,Presencial,US,Média
131000,NaN,Nível Sênior,Tempo Integral,Machine Learning Engineer,163800,USD,163800,US,Presencial,US,Média
131006,NaN,Nível Sênior,Tempo Integral,Data Analytics Manager,204500,USD,204500,US,Presencial,US,Média
133054,NaN,Nível Júnior,Tempo Integral,Data Scientist,40000,USD,40000,JP,Remoto,MY,Grande
133281,NaN,Nível Pleno,Tempo Integral,Machine Learning Engineer,180000,PLN,46597,PL,Remoto,PL,Grande
133317,NaN,Nível Pleno,Tempo Integral,Data Scientist,130000,USD,130000,US,Hibrido,US,Grande

In [ ]:
df_limpo = df.dropna() #exclui linhas com campos nulos

In [ ]:
df_limpo.isnull().sum() #soma todos os campos nulos (nesse caso depois de limpo)

ano_trabalho            0
nivel_experiencia       0
tipo_emprego            0
cargo                   0
salario                 0
moeda_salario           0
salario_em_usd          0
residencia_empregado    0
taxa_remoto             0
localizacao_empresa     0
tamanho_empresa         0
dtype: int64

In [ ]:
df_limpo.head()

,ano_trabalho,nivel_experiencia,tipo_emprego,cargo,salario,moeda_salario,salario_em_usd,residencia_empregado,taxa_remoto,localizacao_empresa,tamanho_empresa
0,2025.0,Nível Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média
1,2025.0,Nível Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média
2,2025.0,Nível Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025.0,Nível Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025.0,Nível Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média

In [ ]:
df_limpo.info() # Mostra um resumo do DataFrame (estrutura)

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ano_trabalho          133339 non-null  float64
 1   nivel_experiencia     133339 non-null  object
 2   tipo_emprego          133339 non-null  object
 3   cargo                 133339 non-null  object
 4   salario               133339 non-null  int64
 5   moeda_salario         133339 non-null  object
 6   salario_em_usd        133339 non-null  int64
 7   residencia_empregado  133339 non-null  object
 8   taxa_remoto           133339 non-null  object
 9   localizacao_empresa   133339 non-null  object
 10  tamanho_empresa       133339 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 12.2+ MB

In [ ]:
df_limpo = df_limpo.assign(ano_trabalho = df_limpo ["ano_trabalho"].astype("int64")) #Converte a coluna "ano_trabalho" para o tipo inteiro 64 bytes. assign - (reconfigura). astype - converte o tipo de dados

In [ ]:
df_limpo.head()

,ano_trabalho,nivel_experiencia,tipo_emprego,cargo,salario,moeda_salario,salario_em_usd,residencia_empregado,taxa_remoto,localizacao_empresa,tamanho_empresa
0,2025,Nível Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média
1,2025,Nível Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média
2,2025,Nível Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025,Nível Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025,Nível Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média

In [ ]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ano_trabalho          133339 non-null  int64
 1   nivel_experiencia     133339 non-null  object
 2   tipo_emprego          133339 non-null  object
 3   cargo                 133339 non-null  object
 4   salario               133339 non-null  int64
 5   moeda_salario         133339 non-null  object
 6   salario_em_usd        133339 non-null  int64
 7   residencia_empregado  133339 non-null  object
 8   taxa_remoto           133339 non-null  object
 9   localizacao_empresa   133339 non-null  object
 10  tamanho_empresa       133339 non-null  object
dtypes: int64(3), object(8)
memory usage: 12.2+ MB